<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="CrossBrowser Test Suite" parallel="tests" thread-count="2" data-provider-thread-count="2">
    <test name = "ChromeTest" verbose="2" preserve-order="true">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.lumatest.test.NavigationTest"></class>
            <class name="com.lumatest.test.ProductPageTest"></class>
        </classes>
    </test>
    <test name = "ChromiumTest" verbose="2" preserve-order="true">
        <parameter name="browser" value="chromium" />
        <classes>
            <class name="com.lumatest.test.NavigationTest"></class>
            <class name="com.lumatest.test.ProductPageTest"></class>
        </classes>
    </test>
<!--    <test name = "FirefoxTest" verbose="2" preserve-order="true">-->
<!--        <parameter name="browser" value="firefox" />-->
<!--        <classes>-->
<!--            <class name="com.lumatest.test.NavigationTest"></class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>

<!--        data-provider-thread-count="2-->
<!--parallel="methods"-->
<!--com.lumatest.test.NavigationTest-->
<!--src/test/java/com/lumatest/test/NavigationTest.java-->
<!-- name="/Users/volhabarouskaya/IdeaProjects/LUMAJavaSeleniumTestNGAllure/src/test/java/com/lumatest/test/NavigationTest.java">-->